<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <appSettings>
    <add key="SyncFusionKey" value="MDAxQDMxMzkyZTMxMmUzMEJOa1gzaUZaeXVVNjFXVDU0bnRNU0lCWmc4cHRoR0ZFM3Axbkd5V01wR1E9"/>
    <add key="MyName" value="Terrell Lewis"/>
  </appSettings>
  <startup>
  </startup>
  <modules>
    <module assemblyFile="ModuleManager.dll" moduleType="Module.Manager.ManagerModule, ModuleManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ModuleManager" startupLoaded="True" />
    <module assemblyFile="ModuleA.dll" moduleType="ModuleA.ModuleAModule, ModuleA, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ModuleAModule" startupLoaded="True" />
    <module assemblyFile="allTdL.Mods.ToDo.ToDoModule.dll" moduleType="allTdL.Mods.ToDo.ToDoModule, allTdL.Mods.ToDo, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ToDoModule" startupLoaded="True" />
    <module assemblyFile="ModuleStocks.dll" moduleType="ModuleStocks.ModuleStocksModule, ModuleStocks, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ModuleStocksModule" startupLoaded="True" />
    <!--<module assemblyFile="ModuleFileBrowser.dll" moduleType="ModuleFileBrowser.ModuleFileBrowserModule, ModuleFileBrowser, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ModuleFileBrowser" startupLoaded="True" />-->
  </modules>
</configuration>